/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: rgb(255, 247, 247);
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.black {
  color: black;
}

.left {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 230px;
  margin: 0 auto;
}

/* Utility Classes */
.container {
  margin: auto;
  max-width: 5000px;
  width: 90vw;
  overflow: auto;
  padding: 0 20px;
}

.container2 {
  margin: auto;
  overflow: auto;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}


.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 1.25rem;
  color: Black;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 3rem;
  line-height: 1.2;
  width: 100%;
  text-align: center;
}

/* Padding */
.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

/* Navbar */
#navbar {
  background: #333;
  color: #333;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar .logo {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: white;
}

/* Style for showcase */
#showcase {
  float: center;
  width: 100%;
  background: url("map7.png") no-repeat center center/cover;
  background-size: cover;
  height: 40em;
  object-fit: fill;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 17px;
}

#showcase .showcase-content h1 {
  font-size: 5rem;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Home info */
#home-info {
  height: 20em;
}

#home-info .info-img {
  float: left;
  width: 50%;
  background: url("me3.png") no-repeat center center/cover;
  background-size: cover;
  height: 100%;
  object-fit: fill;
}

#home-info .info-content { 
  float: center;
  text-align: center;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 1.5em 2em;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
  text-align: center;

}

/* Features */
.box {
  float: left;
  width: 50%;
  padding: 40px;
  text-align: center;
}
@media screen and (max-width: 380px)  {
  .box {
    float: left;
    width: 50%;
    font-size: smaller;
    padding: 40px;
    text-align: center;
  }
}

.box_c {
  float: left;
  width: 33.3%;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 768px)  {
.box_c {
  float: left;
  width: 100%;
  padding: 20px;
  text-align: center;
  padding: 5px;
}
}

.ul {
  text-decoration: underline;
}


.box_r {
  float: left;
  width: 25em;
  /* padding: 1em; */
  margin: 5% 0% 0.5% 5%;
  border: 2px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding-top: 3em;;
  text-align: center;
}

@media screen and (max-width: 450px) {
.box_r {
  min-width: 300px;
  width: 80%;
  float: left;
  padding: 1em;
  margin: 5% 0% 0% 5%;
  border: 2px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding-top: 3.5em;;
  padding-left: 2.5em;
  padding-right: 2.5em;
  text-align: center;
}
}


.box_color {
  background-color: rgb(250, 250, 248);
}

.box i {
  margin-bottom: 20px;
}

/* About Info */
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

@media screen and (max-width: 400px) {
  #home-info {
    height: 500px;
  }
}

@media screen and (max-width: 1100px) {
  #home-info .info-img {
    display: block;
  }
  #home-info .info-content {
    float: none;
    width: auto;
    text-align: center;
  }
}


/* Projects */
#projects {
  height: 100%;
  background: #333;
  padding-top: 40px;
}

#projects h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

#projects .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 50px;
  opacity: 0.9;
}

#projects .testimonial img {

  width: 100px;
  margin-right: 20px;
  border-radius: 50%;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  background: pink;
}

.grid_item {
  background: #ebebeb;
  display: block;
  float: left;
  position: relative;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.grid_link {
  display: block;
  color: black;
  position: relative;
  overflow: hidden;
  border: 4px solid #fff;
}

.tile {
  display: block;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  text-align: center;
  bottom: 50%;
  left: 0%;
  width: 100%;
  color: white;
  background-color: black;
}

.a {
  background-image: url("../img/map_app.jpg");
  background-size: cover;
}

.b {
  background-image: url("../img/ecommerce-website.png");
  background-size: cover;
  justify-content: center;
}

.c {
  background-image: url("../img/hotel_app.jpg");
  background-size: cover;
}

.d {
  background-image: url("../img/health_app.jpg");
  background-size: cover;
}

.e {
  background-image: url("../img/weather_app.jpg");
  background-size: cover;
}

.f {
  background-image: url("../img/food_app.png");
  background-size: cover;
}

.g {
  background: purple;
}

@media all and (max-width: 539px) {
  .span__1,
  .span__2,
  .span__4 {
    width: 100%;
  }

  .span__1 .grid_link,
  .span__2 .grid_link,
  .span__4 .grid_link {
    padding-bottom: 100%;
  }
}

/* @media all and (min-width: 451px) and (max-width: 480px) {
  .span__1,
  .span__2,
  .span__4 {
    width: 49.545252%;
  }

  .span__1 .grid_link,
  .span__2 .grid_link,
  .span__4 .grid_link {
    padding-bottom: 100%;
  }
} */

@media all and (min-width: 481px) {
  .span__1 {
    width: 30em;
  }

  .span__1 .grid_link {
    padding-bottom: 100%;
  }

  .span__2 {
    width: 30em;
  }

  .span__2 .grid_link {
    padding-bottom: 50%;
  }

  .span__4 {
    width: 100%;
  }

  .span__4 .grid_link {
    padding-bottom: 25%;
  }
}

.middle {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}



.injected-text {
  margin-bottom: -25px;
  text-align: center;
}

.author {
  font-size: 3rem;
}

.box_i {
  padding: 1.2em;
  
} 
@media only all and (max-width: 450px) {
.box_i {
  padding: 0 0 5px 0;
  
} 

.link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-11 {width: 100%;}


}

.row::after {
  content: "";
  clear: both;
  display: table;
}


*{
  box-sizing: border-box;
}


[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
 .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0.05s, left 0.3s ease 0.05s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

.black_dot {
  height: 15px;
  width: 15px;
  background-color: rgb(70, 68, 68);
  border-radius: 50%;
  display: inline-block;
  text-align: left;
}

.clear_dot {
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 50%;
  display: inline-block;
  text-align: left;

}

.blog_page p a {
  color: black;
  text-decoration: underline;
}

.blog_page p a:hover {
  color: #003e90;
  text-decoration: underline;
}

.blog_page
{
  margin-bottom: 50px;
}

.blog_page p
{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1250px) {
  .blog_page p
  {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}




@media screen and (max-width: 790px) {
  .blog_page p
  {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 550px) {
  .blog_page p
  {
    width: 90%;
    font-size: 0.95em;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 791px) and (max-width: 1000px) {
  .blog_page p
  {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}




.blog_page img {
  width: 30%;
  height: auto;
  display: block;
  margin: 40px auto 0 auto;
}

@media screen and (max-width: 1250px) {
.blog_page img {
    width: 40%;
}
}


@media screen and (min-width: 791px) and (max-width: 1000px) {
  .blog_page img {
    width: 50%;
    height: auto;
    display: block;
    margin: 35px auto 10px auto;
  }
}
@media screen and (max-width: 790px) {
  .blog_page img {
    width: 60%;
    height: auto;
    display: block;
    margin: 35px auto 10px auto;
  }
}

@media screen and (max-width: 550px) {
  .blog_page img {
    width: 70%;
    height: auto;
    display: block;
    margin: 35px auto 10px auto;
  }
}

@media screen and (max-width: 450px) {
  .blog_page img {
    width: 85%;
    height: auto;
    display: block;
    margin: 35px auto 10px auto;
  }
}


#date, #name {
  color: black;
  margin-left: 50px;
  margin-bottom: 0px;
}

@media screen and (max-width: 789px){
  #date, #name {
    margin-left: 4px;
  }
}


.blog_heading
{
  margin: 0px auto 20px auto;
}

.bold
{
  font-weight: bold;
}
@media screen and (min-width: 791px) and (max-width: 1000px) {
  #info_img {
    width: 57%;
  }
}



#info_img  {
  width: 28%;
  margin-top: 15px;
  margin-bottom: 20px;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  border-width: 0px;
}

@media screen and (max-width: 1250px) {
  #info_img {
    width: 37%;  
  }
}

@media screen and (max-width: 1000px) {
  #info_img {
    width: 47%;  
  }
}

@media screen and (max-width: 790px) {
  #info_img {
    width: 57%;  
  }
}

@media screen and (max-width: 550px) {
  #info_img {
    width: 67%;  
  }
}

@media screen and (max-width: 450px) {
  #info_img {
    width: 83%;
  }
}

#blog_title
{
  color: black;
}

@media screen and (max-width: 882px) {
  #blog_title
  {
    color: black;
    font-size: 40px;
  }
}


@media screen and (max-width: 742px) {
  #blog_title
  {
    color: black;
    font-size: 35px;
  }
}

@media screen and (max-width: 655px) {
  #blog_title
  {
    color: black;
    font-size: 30px;
  }
}


@media screen and (max-width: 395px) {
  #blog_title
  {
    color: black;
    font-size: 20px;
  }
	
#book
{
  border-color: black;
  border-style: solid;
  border-width: 0.8px;
}
